/* Fonts */
@font-face {
    font-family: 'source-sans-pro';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General containers/elements */
body {
    /*border-top: 5px solid #000;*/
    color: #222;
    font-family: 'source-sans-pro', sans-serif;
    font-size: 1.25em;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
fieldset {
    border: 0;
    padding: 0;
}

#content_wrapper {
    min-height: 100%;
    position: relative;
}

#newnotice #content_wrapper {
    min-height: 100%;
    position: absolute;
    width: 100%;
}

#newnotice fieldset {
    width: 80%;
}

#newnotice #content_inner {
    padding: 100px 50px 0 50px;
}

#newnotice #aside_primary {
    top: 11em;
}


#public fieldset {
    border: 0;
}

#input_form_status > form[id^="form_notice"] fieldset {
    padding: 8em 0 0 0;
}

.notice-reply > form[id^="form_notice"] fieldset {
    width: 80%;
}


#wrap {
    padding-top: 0;
    padding-bottom: 40px;
}
h1 {
    font-size: 3em;
    margin-top: 60px;
    text-align: center;
    color: #639829;
}
.user_in h1 {
    margin-top: 130px;
}

#usergroups h1,
#showstream h1,
#subscriptions h1,
#subscribers h1 {
    /*margin-top: 3em;*/
}

#content_inner {
    padding-top: 100px;
}

.user_in #content_inner {
    padding-top: 0px;
}

#all #content_inner {
    padding-top: 0px;
}

#networkpublic #content_inner {
    padding-top: 0px;
}

#conversation #content_inner {
    padding-top: 0px;
}

#conversation .notice {
    border-bottom: 0px;
}


#shownotice h1 {
    display: none;
}


#core {
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 200px;
}
a {
    transition: all 0.2s ease 0s;
}
#content a {
    color: #0097BB;
    text-decoration: none;
}
#content a:hover, a:focus {
    text-decoration: underline;
}

/* Sprites */
label.notice_data-geo,
label.notice_data-attach,
button.close,
.notice-options .submit,
.notice_reply,
.notice_delete,
#realtime_play,
#realtime_pause,
#realtime_popup,
#pagination .nav_next a,
#pagination .nav_prev a {
    background: url(../images/icons/icons-01.gif) no-repeat;
}

/* Realtime Plugin */
#realtime_play {
    background-position: 0 -2308px;
}
#realtime_pause {
    background-position: 0 -2374px;
}
#realtime_popup {
    background-position: 0 -1714px;
}

/* Pagination */
#pagination {
    list-style-type: none;
}
#pagination .nav_next {
    float: right;
}
#pagination .nav_next a {
    background-position: 115% -252px; 
    padding: 6px 25px 0 0;
}
#pagination .nav_prev {
    float: left;
}
#pagination .nav_prev a {
    background-position: 0 -187px;
    padding: 6px 0 0 25px;
}

/* EmbedNotice Plugin */
a.embed {
    background: url(../images/icons/embed.gif) no-repeat;
    opacity: 1;
}

/* Bookmark Notice */
.bookmark h3 {
    margin-bottom: 0;
}
.bookmark-tags a:after {
    content: ", ";
    color: #000;
}
.bookmark-tags li:last-child a:after {
    content: "";
}

.location abbr, .timestamp abbr {
    border-bottom: 0;
}

/* Notices */
.entry-title {
    max-width: 640px;
}
.notices {
    clear: both;
    list-style-type: none;
}
.notice {
    border-bottom: 2px solid #639829;
    padding: 40px 0 30px 70px;
    overflow: hidden;
    position: relative;
}

.notice .avatar {
    left: 0;
    position: absolute;
    vertical-align: middle;
}
#content .notice .entry-title {
    margin: 2px 7px 0 59px;
    min-height: 35px;
}
.notice div.entry-content {
    clear: both;
    font-size: 0.88em;
    float: left;
    line-height: 1.2em;
    margin: 6px 0 0 59px;
}

.notice .addressees:before {
    content: "▸";
    padding-right: 2px;
    padding-left: 2px; 
}

.addressees, .addressees .h-card {
    display: inline;
    padding: 0px;
}

.threaded-replies {
    overflow: hidden;
}
.threaded-replies li:first-child {
    margin-top: 40px;
}
.threaded-replies li:last-child {
    border: 0;
    padding-bottom: 0;
}

/* Notice Options */
.notice_delete {
    background-position: 0 -658px;
}
.notice_reply {
    background-position:0 -592px;
}
.notice_reply, .notice_delete, .embed {
    outline: 0;
}
.notice-options {
    float: right;
    margin-top: 12px;
    margin-right: -6px;
    margin-bottom: 10px;
}
.notice-options a {
    text-indent: -9999px;
}
.notice-options form, .notice-options a, .notice-options .repeated {
    display: block;
    float: left;
    height: 16px;
    margin-right: 10px;
    width: 16px;
}

.notice .avatar {
    border-radius: 50%;
    left: 0px;
    position: absolute;
    vertical-align: middle;
}

.notice-title {
    display: none;
}

.form_favor .submit {
    background-position: 0 -460px;
}
.form_disfavor .submit {
    background-position: 0 -526px;
}
.form_repeat.processing {
    background-image: none;
}
.form_repeat .submit {
    background-position: 0 -1582px;
}
.notice-options .repeated {
    background-position: 0 -1648px;
    display: none;
}
label.notice_data-geo, label.notice_data-attach, .notice-options .submit, button.close {
    border: 0;
    cursor: pointer;
    display: block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}

/* Actions, e.g. "user deleted notice ... */
.actmod {
    display: none;
}

/* Forms (post a notice, bookmark, etc.) */
.input_forms {
    text-align: center;
}
.input_forms .input_form {
    text-align: left;
    width: 90%;
}
#showstream .input_form,
#subscriptions .input_form,
#subscribers .input_form {
    margin: 6em 0 -4em 0;
}
#input_form_nav {
    background: #EEE;
    border: 1px solid #AAB8C6;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 12px;
}
#input_form_nav li {
    float: left;
    margin-right: 10px;
    padding-top: 5px;
}
#input_form_nav li:last-child {
    margin: 0;
}

/* Hide all the things o/! */
#conversation #aside_primary,
#replies #aside_primary,
#conversationreplies #aside_primary,
.form_guide,
.system_notice,
#all #aside_primary,
#showstream .notice .author,
.profile_block h2,
.profile_block .entity_actions li,
.profile_block_name,
.profile_block_location,
.profile_block_homepage,
.profile_block_description,
.profile_block_otherprofile_list,
.user_profile_tags,
#input_form_placeholder,
legend,
#notices_primary h2,
#site_nav_global_secondary,
#export_data,
#tagcloud,
.notice_data-attach,
#aside_primary .section,
#site_nav_local_views,
.nav #nav_login, /* schiesbn: here I could make login visible */
#site_contact,
#header-search, 
.input_form {
    display: none;
}

input[id$="notice_data-geo"] {
    display: none;
}

#profilesettings #site_nav_local_views {
display: block;
}

#profilesettings #nav_return_top {
    display: none;
}

#siteadminpanel #site_nav_local_views {
    display: block;
}

#siteadminpanel #nav_return_top {
    display: none;
}

.notice .e-content {
    max-height: none;
    padding: 5px;
}


/* Go away, I mean it! */
.notice-reply-placeholder {
    display: none !important;
}

/* Okay, display _some_ of the things... */
#aside_primary .profile_block,
.profile_block li.entity_subscribe,
.input_form.current {
    display: block;
}

/* Top Navigation */
#site_nav_global_primary {
    text-align: center;
}
#site_nav_global_primary ul {
    background-color: #000;
    border-radius: 0 0 10px 10px;
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0 20px 0 20px;
    vertical-align: top;
}
#site_nav_global_primary li {
    display: block;
    float: left;
    list-style-type: none;
    text-align: center;
}
#site_nav_global_primary a {
    border-radius: 4px;
    color: #FFF;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}
#site_nav_global_primary a:hover, #site_nav_global_primary a:active {
    background-color: #1A1A1A;
    box-shadow: 0 0 1px #FFF inset;
}

/* Tests */
#notice_data-text-label, .notice_data-text {
    display: block;
}

.notice_data-text {
    margin-bottom: 12px;
    width: 100%;
}

.to-selector, .notice_data-geo_wrap {
    float: right;
    margin-bottom: 40px;
}

.to-selector, .geo_status_wrapper {
    margin-top: 10px;
}

.geo_status {
    float: left;
    margin-top: 3px;
}

.form_settings .form_data, .input_form .form_data {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button.close {
    background-position: 0 -1120px;
    border: 0;
    display: inline;
    float: none !important;
    margin-left: 10px;
}

.checkbox-wrapper.unchecked label.checkbox {
    background: url(../images/icons/lock_open.png) 0 3px no-repeat;
    padding-left: 20px;
}

.checkbox-wrapper.checked label.checkbox {
    background-image: url(../images/icons/lock.png);
}

#input_form_status {
    border-bottom: 1px solid #DDD;
    padding-bottom: 80px;
}

label.notice_data-attach {
    background-position: 0 -328px;
    float: right;
    margin-left: 10px;
}

label.notice_data-geo.checked {
    background-position: 0 -1846px;
}

label.notice_data-geo {
    background-position: 0 -1780px;
}

/* Character counter */
.count {
    color: #999;
    float: right;
    font-size: small;
    position: relative;
    right: 10px;
    top: -28px;
}

#shownotice .notice {
    border-bottom: 0px;
}

#notice_action-submit {
    clear: both;
    display: inline;
    float: right;
    width: 8em;
    margin-top: 3em;

}

.to-selector {
    margin-top: 24px;
    position: absolute;
}

/* "Attach a file" thumbnail preview  */
.attach-status {
    margin-top: 12px;
}
.attach-status code {
    display: block;
    float: left;
    margin-top: 7px;
}
.attach-status img {
    display: block;
    margin-top: 5px;
}

.attachments {
    padding: 20px;
}

.attachments-title {
    display: none;
}

.inline-attachment {
    list-style-type: none;
    text-align: center;
}

.inline-attachment .u-photo {
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


/* Parentheses around "in context" */
.response:before {
    color: #000;
    content: "(";
}
.response:after {
    color: #000;
    content: ")";
}

/* Notice likes and "See all replies" */
.notice-faves, .notice-reply-comments {
    margin-left: 0px;
    margin-bottom: 12px;
}
.notices .notices .notice {
    border-bottom: 0;
    border-top: 1px solid #DDD;
}

.entity_subscribe {
    list-style-type: none;
}

.notice div.notice-faves, .notice div.thumbnails {
    float: none;
}

#showstream .notice .entry-content, #showstream .notice .entry-title {
    margin-left: 0;
}

#aside_primary {
    left: 50%;
    margin-left: -43px;
    position: absolute;
    text-align: center;
    top: 5em;
}

.ur_face {
    border-radius: 52%;
}

.user_in #aside_primary {
    top: 6em;
}

.profile_block .entity_actions ul {
    margin: 0;
    padding: 0;
}

.profile_block .entity_actions .entity_remote_subscribe {
    background: url(../images/icons/subscribe.png) no-repeat;
    display: inline-block;
    height: 34px;
    outline: 0;
    left: 120px;
    position: absolute;
    text-indent: -9999px;
    top: 31px;
    width: 34px;
}

#form_ostatus_connect {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#form_ostatus_connect fieldset {
    background: #FFF;
    display: inline-block;
    margin-top: 8.5em;
    padding: 8px;
}

#form_ostatus_connect .close {
    position: relative;
    right: 40px;
    top: -165px;
}

#form_ostatus_connect .form_data li {
    display: list-item;
    list-style-type: none;
}

#form_ostatus_connect #ostatus_profile {
    padding-bottom: 15px;
}

#form_ostatus_connect .form_data {
    padding-right: 20px;
}

/* Profiles (subscriptions, subscribers) */
.profiles {
    list-style-type: none;
}
.profile {
    border-bottom: 1px solid #DDD;
    padding: 40px 0;
}
.profile .entity_actions {
    overflow: hidden;
}
.profile .url {
    display: block;
}
.profile .url[rel*="contact"] {
    display: inline;
}
.profile .avatar {
    float: left;
    margin-right: 10px;
}
.profile .fn:before {
    content: "(";
}
.profile .fn:after {
    content: ")";
}
.profile .label, .profile .fn {
    margin-left: 10px;
}
.profile .note {
    margin-left: 60px;
}
.avatar.u-photo {
    border-radius: 50%;
}

/* Remote subscribe */
.entity_remote_subscribe {
    background: url(../images/icons/subscribe.png) no-repeat;
    display: inline-block;
    line-height: 34px;
    min-height: 34px;
    padding-left: 45px;
}

/* Subscribe, unsubscribe, block buttons */
.form_user_unsubscribe, .form_user_subscribe {
    float: left;
    min-width: 185px;
}
.form_user_unsubscribe .submit, .form_user_block .submit, .entity_subscribe .submit {
    background: url(../images/icons/subscribe.png) no-repeat;
    border: 0;
    color: #0097BB;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    min-height: 34px;
    padding-left: 45px;
}
.form_user_unsubscribe .submit:hover, .form_user_block .submit:hover, .entity_subscribe .submit:hover {
    text-decoration: underline;
}
.form_user_block .submit {
    background-image: url(../images/icons/block.png);
}
.form_group_leave .submit, .form_user_unsubscribe .submit {
    background-image: url(../images/icons/unsubscribe.png);
}
.entity_actions {
    clear: left;
}

/* Bookmark, event, poll, question forms */
#input_form_bookmark .submit,
#input_form_question .submit,
#input_form_event .submit,
#input_form_poll .submit {
    margin-top: 12px;
}
#input_form_bookmark .form_data li,
#input_form_question .form_data li,
#input_form_poll .form_data li,
#input_form_event .form_data li {
    margin-bottom: 12px;
    position: relative;
}
#input_form_bookmark .form_data label,
#input_form_question .form_data label,
#input_form_poll .form_data label,
#input_form_event .form_data label {
    color: #999;
    float: left;
    font-size: 0.8em;
    position: absolute;
    left: 5px;
    top: 5px;
}
#input_form_event label[for="event-starttime"],
#input_form_event label[for="event-endtime"] {
    color: #000;
    margin-right: 10px;
    margin-top: 5px;
    position: static;
}

/* Settings page */

#profilesettings .nav {
  text-align: center;
}

#profilesettings .nav li {
    list-style-type: none;
    display: inline;
    padding-right: 20px;
}

#profilesettings #site_nav_local_views ul {
    list-style-type: none;
}


#siteadminpanel .nav {
  text-align: center;
}

#siteadminpanel .nav li {
    list-style-type: none;
    display: inline;
    padding-right: 20px;
}

#siteadminpanel #site_nav_local_views ul {
    list-style-type: none;
}


#form_settings_profile li {
    margin-bottom: 12px;
}
#form_settings_profile label {
    display: block;
}
#form_settings_profile label.checkbox {
    display: inline;
}
#form_settings_profile input.checkbox {
    margin: 0;
}

label[for="input_form_nav"] { display:none; }

/* Begin Menu for schiessle.org */

#menubar {
    font-family: "DejaVu Sans","Bitstream Vera Sans",Geneva,Verdana,sans-serif;
    font-size: 16px;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 98;
    background-color: #639829;
    height: 53px;
    text-align: right;
    width: 100%;
}

/*Strip the ul of padding and list styling*/
ul#menu {
    list-style-type:none;
    margin:0;
    padding:0;
    line-height: 53px;
}

/*Create a horizontal list with spacing*/
#menu li {
    display:inline-block;
}

/*Style for menu links*/

#menu li a {
    display:block;
    min-width:100px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #639829;
    color: white;
    text-decoration: none;
}

#menu a {
    color: #fff !important;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

/*Hover state for top level links*/

#menu li:hover a {
    background-color: #518A12;
}

/*Style for dropdown links*/

#menu li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
#menu li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
#menu li ul {
    display: none;
}

/*Make dropdown links vertical*/
#menu li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
#menu li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
#meu ul li a:hover + .hidden, .hidden:hover {
                             display: block;
                         }

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "DejaVu Sans","Bitstream Vera Sans",Geneva,Verdana,sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    background-color: #639829;
    text-align: right;
    padding: 10px 0;
    padding-right: 20px;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]#show-menu{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*hide menu when invisible checkbox is checked*/
input[type=checkbox]:unchecked ~ #menu{
    display: none;
}

#ostatus_profile label {
    padding: 10px;
}

.form_guide {
    display: block;
    padding: 10px;
}

.submit_dialogbox {
    margin-left: -110px;
    margin-top: 35px;
}

.form_notice .notice_data-geo_wrap label,
.form_notice .notice_data-geo_wrap input,
.form_notice .count,
.form_notice input.submit {
    z-index: 0;
}

/* don't show overlapping label on event entries */
#input_form_event label {
    display: none;
}

/* footer */
#footer {
    font-family: "DejaVu Sans","Bitstream Vera Sans",Geneva,Verdana,sans-serif;
    font-size: 16px;
    background-color: #639829;
    position: absolute;
    height: 200px;
    width: 100%;
    padding: 0px;
    bottom: 0;
}

p.footer {
  background: #639829 url('../images/cwfs-1.0.0-white-25-degree-180x121.png') bottom right no-repeat;
  color: #fff !important;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  /*color: white; */
  padding: 10px;
  margin: 0px;
  margin-top: 5px;
  text-align: center;
/*  font-size: 12px;*/
  font-size: 0.9em;
}

#footer a:link {
  background-color: #639829;
  color: white;
  text-decoration: none;
}

#footer a:visited {
  background-color: #639829;
  color: white;
}


#footer a:hover {
  border-bottom: 2px solid #fff;
}

#footer a.footer-image:hover {
  border-bottom: 0px solid #fff;
}


#footer a:hover.button {
        padding-bottom: 2px;
        border-bottom: none;
}

#footer .footer-image img{
    padding-top: 10px;
    padding-bottom: 10px;
}

p.license {
  text-align: right;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul#menu {
	z-index: 98;
	position: static;
        display: none;
    }

   #menu li {
         display: block;
   }

    #menu ul li, 
    #menu li a {
        width: 100%;
        display: block;
	z-index: 98;
    }


    /*Display 'show menu' link*/
    .show-menu {

        display:block;
    }

    #menu a:hover {
        border-bottom: none;
	background-color: #518A12;
    }

    #menu li a {
	position: relative;
    }
    
    p.footer {
        background: #639829;
    }

    p.footer .footer-image {
        display: none;
    }

    #header_search,
    #header,
    #site_nav_global_primary,
    #site_nav_local_views {
	display: none;
    }

    #pagination .nav_next,
    #pagination .nav_prev {
	position:center;
    }

    #wrap {
	padding-top: 0px;
	margin-top: 0px;
    }

    #content {
	left: '';
	padding-top: 3px;
    }

    #shownotice #content_inner {
	padding-top: 0px;
    }

    #aside_primary {
	top: 8em;
    }

    .notice {
	margin-left: -20px;
	margin-right: 10px;
    }

    .threaded-replies .notice {
	margin-left: 0px;
    }

    #notice_to {
	width: 80%;
    }

    .notice .e-content {
	padding-top: 30px;
	margin-left: -70px;
    }

    .notices.threaded-replies.xoxo {
	margin-left: -100px;
    }

    footer {
	margin-left: -70px;
    }

    #input_form_status {
	margin-left: 20px !important;
    }

}

@media screen and (max-width : 589px){
    #aside_primary {
	top: 12em;
    }
}

@media screen and (max-width : 324px){
    #aside_primary {
	top: 16em;
    }
}
