<div id="footer">
<p class="footer">Copyright &copy; Björn Schießle<br />
<!--                                                                                                                                                                                                                
<a rel="license"                                                                                                                                                                                                    
   href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.en" class="button"><img alt="Creative                                                                                                                
   Commons License" style="border-width:0"                                                                                                                                                                          
   src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />-->This
   work is licensed under a <a rel="license"
   href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.en">Creative Commons
   Attribution-Share Alike 3.0 Germany License</a>.
<br />
We are a federation of microbloggers who care about ethics and solidarity and want to quit the centralised services. <a href="https://gnu.io/social/">Learn more…</a>
<br />
<a href="https://fsfe.org/fellowship" class="footer-image"><img
src="https://www.schiessle.org/img/join-support.png" alt="Join                                                                                                                                                      
the Fellowship and support Free Software!" /></a>
<br />
<a href="http://validator.w3.org/check?uri=referer" class="button"><img
src="https://www.schiessle.org/img/xhtmlvalid.png" alt="Valid XHTML 1.0 Strict" /></a>
<a href="http://jigsaw.w3.org/css-validator/check/referer" class="button"><img
src="https://www.schiessle.org/img/cssvalid.png" alt="Valid CSS!" /></a>
<!--<a href="http://english-199849283892.spampoison.com"><img src="http://pics5.inxhost.com/images/sticker.gif" border="0" width="80" height="15"/></a>-->
<br />Optimized for <a href="http://www.w3.org">web standards</a>
</p>
</div>
